<template>
  <b-container class='billeterie'>
    <b-row align-h="center">

      <!-- //
      // Affichage de la liste des séance et de l'impression des billets
      // -->
      <b-col sm='12' md='6'>
        <b-card title="Billet"
        img-top
        tag="article"
        class="mb-2">
          <div >
            <b-form @submit="onSubmit" v-if="show">
              <b-form-group id="seanceGroup"
              label="Séance:"
              label-for="seanceGroup">
                <b-form-select id="seance"
                :options="seances"
                required
                v-model="form.seances">
                </b-form-select>
              </b-form-group>
              <b-form-group id="typeGroup"
              label="Type de billet:"
              label-for="typeGroup">
                  <b-form-select id="type"
                  :options="typesBillet"
                  required
                  v-model="form.type">
                </b-form-select>
              </b-form-group>
              <b-button type="submit" variant="primary">Imprimer</b-button>
            </b-form>
          </div>
        </b-card>
      </b-col>



<!-- //
// Affichage des films dans la card de droite
// -->

<b-col sm="12" md='6'>
  <b-card sm="12" title="Film"
  img-top
  tag="article"
  class="mb-2">
  <div>
    <div v-if="form.seances">
<!-- Titre du film -->
      <div class="title">
        <h1>{{form.seances.titre}}</h1>
      </div>

<!-- Carousel d'image -->
      <b-carousel id="carouselFilm"
      controls
      indicators
      :interval="4000"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
      >

      <!-- Text slides with image -->
      <b-carousel-slide v-for='poster in form.seances.posters' :img-src="poster.path">
      </b-carousel-slide>

    </b-carousel>

<!-- Durée du film -->
      <div class="duree">
        <p><span class='strong'>Durée:</span> {{form.seances.duree}} min.</p>
      </div>
<!-- age légal -->
      <div class="ageLegal">
        <p><span class='strong'>Age légal:</span> {{form.seances.age_legal}} ans</p>
      </div>
<!-- age conseillé -->
      <div class="ageConseille">
        <p><span class='strong'>Age conseillé:</span> {{form.seances.age_conseille}} ans</p>
      </div>
<!-- résumé du film -->
      <div class="resume">
        <p><span class='strong'>Résumé:</span></br> {{form.seances.resume}}</p>
      </div>
<!-- liens videos du film -->
      <div class="urlVideo">
        <span class='strong'>Vidéos: </span>
        <ul>
          <li v-for="value in form.seances.url">
            <a target="_blank" :href='value.url'>{{ value.nom }}</a>
          </li>
        </ul>
      </div>
<!-- date et heure du film -->
      <div class="urlVideo">
        <p><span class='strong'>Date:</span></br> {{form.seances.date_heure.slice(0,10)}}</p>
        <p><span class='strong'>Heure:</span></br> {{form.seances.date_heure.slice(11,16)}}</p>
      </div>
<!-- genres liés au film -->
      <div class="genres">
        <span class='strong'>Genres: </span>
        <ul>
          <li v-for="value in form.seances.genres">
            {{value.nom}}
          </li>
        </ul>
      </div>


  </div>
  <div v-else="form.seances">
    <p>Sélectionnez une séance.</p>
  </div>
</div>
</b-card>
</b-col>
</b-row>



<!-- HTML du BILLET à imprimer -->
<b-row>
  <b-col id='billet' class="title" v-if="form.seances">
    <h1>Cinéma Casino Le Locle</h1>
    <h2>{{form.seances.titre}}</h2>
    <p><span class='strong'>Séance:</span></br> {{form.seances.date_heure.slice(0,10)}} - {{form.seances.date_heure.slice(11,16)}}</p>
    <p><span class='strong'>Type de billet:</span></br> {{form.type}}</p>
    <p><span class='strong'>Acheté le:</span></br> {{aujourdhuiDateHeure}}</p>
    <p>www.cineclub-lelocle.ch</p>
  </b-col>
</b-row>


</b-container>




</template>




<script>

  //
  // HTTP client basé sur les promesses
  //
  import axios from 'axios';

  //
  // Component stuff
  //
  export default {
    name: 'Billeterie',
    data () {
      return {
        form: {
          type: null,
          seances: null,
          aujourdhuiDateHeure: null
        },

        seances: [
          { text: 'Selectionnez une séance', value: null }
        ],

        typesBillet: [
          {text: 'Selectionnez un type de billet', value: null },
          {text: 'Enfant:  15.- CHF', value: 'Enfant:  15.- CHF'},
          {text: 'Etudiant:  17.- CHF', value: 'Etudiant:  17.- CHF'},
          {text: 'Adulte:  19.- CHF', value: 'Adulte:  19.- CHF'},
          {text: 'AVS:  17.- CHF', value: 'AVS:  17.- CHF'},
        ],
        show: true
      }
    },
    //Methods
    methods: {
      //Au moment du clic sur imprimé
      onSubmit (evt) {
        evt.preventDefault();
        billet.style.display = "block";
        printJS({printable: 'billet', type:'html', targetStyles: ['color','font','margin','padding'] });
        billet.style.display = "none";
        this.form.type = null;

      },
      onSlideStart (slide) {
        this.sliding = true
      },
      onSlideEnd (slide) {
        this.sliding = false
      }

    },
    mounted: function(){
      var _self = this;
      var today = new Date();
      this.aujourdhuiDateHeure = today.getDate()+'.'+today.getMonth()+'.'+today.getFullYear()+' à '+ today.toString().slice(16,21);
      var seances = [];
      //Requête les séances
      axios.get('http://localhost:8888/backend_cine-le-locle/install-master/api/seances').then(function(response){

        for (var key in response.data) {
            var dateSeance = new Date(response.data[key].original.dateHeure);
            console.log(response.data[key])
            if(dateSeance >= today){
              seances[key] = {
                         text: response.data[key].original.dateHeure.slice(0,16) + " - " + response.data[key].original.titre,
                         value: {
                           id: response.data[key].original.id,
                           titre: response.data[key].original.titre,
                           url: response.data[key].original.videos,
                           duree: response.data[key].original.dureeEnMinute,
                           age_conseille: response.data[key].original.ageConseille,
                           age_legal: response.data[key].original.ageLegal,
                           resume: response.data[key].original.resume,
                           genres: response.data[key].original.Genres,
                           date_heure: response.data[key].original.dateHeure,
                           posters: response.data[key].original.poster,

                         }

                       }
            }

        }
        seances.unshift({ text: 'Selectionnez une séance', value: null });
        _self.seances = seances;

      })


    }
  }

</script>


<style scoped>
   #billet {
     display: none;
   }

  .billeterie {
    margin-top: 5em;
  }

  #carouselFilm {
    background-color: #ababab;
  }

  ul{
    list-style:none;
    padding:0px;

  }

  .strong {
    font-size: 1.2em;
    font-weight: bold;
  }
  .stronger {
    font-weight:bolder;
  }
</style>
