<template>
  <header class="navigation">
    <b-navbar toggleable="md" type="dark" variant="info">

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="#">Billetterie Cinéma Casino Le Locle</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item href="http://localhost:8888/backend_cine-le-locle/backend/maicanthoine/cinelelocle/filmcontroller">Gestion des films</b-nav-item>
          <b-nav-item href="http://localhost:8888/backend_cine-le-locle/backend/maicanthoine/cinelelocle/seancecontroller">Gestion des séances</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </header>
</template>


<script>
  export default {
    name: 'Navigation',
  }
</script>


<style scoped>

</style>
