<template>
  <div id="app">
    <navigation></navigation>
    <billeterie></billeterie>
  </div>
</template>

<script>

import Billeterie from './components/billeterie'
import Navigation from './components/navigation'


export default {
  name: 'App',
  components: {
    Billeterie, Navigation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
